Script/background - copia.js
/source
README.v2.06.64.md
/documents
.vs/Mass image downloader/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/Mass image downloader/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/Mass image downloader/FileContentIndex/782bf2c5-b299-4d95-946c-ed6ed7ec415c.vsidx
.vs/Mass image downloader/v17/.wsuo
.vs/Mass image downloader/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Mass image downloader v2.08.14.zip
Mass image downloader v2.08.18.zip
Script/injectSaveIcon - Copy.js
Script/background - Copy.js
Script/extractWebLinkedGallery.js
Mass image downloader v2.08.127.zip
README.Dev.md
logs/
old versions/
